<div class="container">
  <div class="row mx-4">
    <div class="col-2"></div>
    <div class="col-10 mx-4">
    <h4>新規会員登録</h4>
    </div>
  </div>
  <div class="row my-2">
      <%= form_with model: @customer do |f| %>
      <table>
        <tr>
          <div class="col-3">
            <th>名前</th>
          </div>
          <div class="col-4">
            <th>(性)<%= f.text_field :last_name %> (名)<%=f.text_field :first_name %></th>
          </div>
        </tr>
        <tr>
          <div class="col-4">
            <th>フリガナ</th>
            <th>(セイ)<%=f.text_field :last_name_kana %> (メイ)<%=f.text_field :first_name_kana %></th>
          </div>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%=f.text_field :email %></th>
        </tr>
        <tr>
          <th>郵便番号</th>
          <th><%=f.text_field :postal_code %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th><%=f.text_field :address %></th>
        </tr>
        <tr>
          <th>電話番号（ハイフンなし）</th>
          <th><%=f.text_field :telephone_number %></th>
        </tr>
        <tr>
          <th>パスワード（6文字以上）</th>
          <th><%=f.text_field :email %></th>
        </tr>
        <tr>
          <th></th>
          <th><%=f.submit '新規登録',class: "btn btn-success" %></th>
        </tr>
      </table>
      <% end %>
  </div>
  <row>
    <div class="col-1"></div>
    <div class="col-11">
    <h5>既に登録済みの方</h5>
    </div>
    <div class="col-2"></div>
    <div class="col-10">
      <%= link_to "こちら", new_customer_session_path %>　からログインしてください。
    </div>
  </row>
</div>